.shop-name:hover {
    cursor: pointer;
}

.nav-link {
    color: #fc0388;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.nav-item:hover {
    background-color: white;
}

.mySlides {
    display:none;
}

.register-here:hover {
    color: black;
    text-decoration: underline;
    background-color: white;
}

.login-here:hover {
    color: black;
    text-decoration: underline;
    background-color: white;
}

p {
    color: white;
}

.hr-theme-slash-2 {
    display: flex;
}

.hr-theme-slash-2 .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
}

.hr-theme-slash-2 .hr-icon {
    position: relative;
    top: 3px;
    color: #fc0388;
}