<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>CHERRY - Home Page</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <!-- Start of Navbar -->

    <div class="sticky-top" style="background-color: black;">
        <div class="d-flex justify-content-center">
            <a class="shop-name" style="font-family: Bradley Hand; font-size: 40px; color: white;">CHEERY</a>
        </div>

        <div class="d-flex justify-content-around">
            <ul class="nav justify-content-start">
                <li class="register-here"> 
                    <a class="nav-link" href="#">Register Here</a>
                </li>
            </ul>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cosmetics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sweets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Medicine</a>
                </li>
            </ul>

            <ul class="nav justify-content-end">
                <li class="login-here"> 
                    <a class="nav-link" href="#">Login Here</a> 
                </li>
            </ul>

        </div>
    </div>

    <!-- End of Navbar -->



    <!-- Start of Body -->

    <div class="slide-images w3-container" style="background-color: transparent; margin-left: 50px; margin-right: 50px; margin-bottom: 10px;"> 
        <div class="w3-content w3-section">
            <img class="mySlides w3-animate-left img-fluid" src="../static/images/cosmetics_three copy.jpeg" style="width: 1000px; height: auto;">
            <img class="mySlides w3-animate-left img-fluid" src="../static/images/cosmetics_two copy.jpeg" style="width: 1000px; height: auto;">
            <img class="mySlides w3-animate-left img-fluid" src="../static/images/cosmetics_six copy.jpeg" style="width: 1000px; height: auto;">
        </div>

        <div class="hr-theme-slash-2">
            <div class="hr-line"></div>
            <div class="hr-icon"><i class="material-icons">card_giftcard add_shopping_cart card_membership</i></div>
            <div class="hr-line"></div>
        </div>
    </div>

    <div style="background-color: gray;">
        <div class="row">
            <div class="col-6 col-md-4 d-flex justify-content-center" id="about-div" style="padding-top: 10px; padding-bottom: 10px; background-color: white; color: black; text-decoration: underline; display: block;" onclick="displayAboutUs()">ABOUT US</div>
            <div class="col-6 col-md-4 d-flex justify-content-center" id="qanda-div" style="padding-top: 10px; padding-bottom: 10px; background-color: white; color: black; text-decoration: underline; display: block;" onclick="displayQandA()">Q &#38; A</div>
            <div class="col-6 col-md-4 d-flex justify-content-center" id="contact-div" style="padding-top: 10px; padding-bottom: 10px; background-color: white; color: black; text-decoration: underline; display: block;" onclick="displayContactUs()">CONTACT US</div>
        </div>

        <div>
            <div id="aboutDivBody" style="display: none;">
                <div class="row d-flex justify-content-center" style="background-color: black; color: white;">
                    <h4><u>ABOUT US</u></h4>
                </div>
            </div>

            <div id="qandaDivBody" style="display: none;">
                <div class="row d-flex justify-content-center" style="background-color: black; color: white;">
                    <h4><u>Q &#38; A</u></h4>
                </div>
            </div>
            <div id="contactDivBody" style="display: none;">
                <div class="row" style="background-color: black; color: white; padding-top: 10px; padding-bottom: 15px;">
                    <div class="d-flex justify-content-center" style="width: 100%;"><h3>CONTACT US</h3></div>
                    <div class="d-flex justify-content-center" style="width: 100%;">
                        <div class="col-6">
                            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=Damaseintar%20St%20&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href=""></a><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><a href=""></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
                        </div>
                        <div class="col-4" style="background-color: transparent;">
                            <div class="d-flex justify-content-center" style="width: 100%; padding-top:10px;"><h4><b>ADDRESS INFO</b></h4></div>
                            <table class="table" style="text-align: left;">
                                <tr>
                                    <th scope="row" style="border-color: transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                                        </svg>
                                    </th>
                                    <td style="border-color: transparent;">No19. Dama Seintar St. Kyar Kwat Thit Ward, Tamwe Tsp, Yangon.</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="border-color: transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                        </svg>
                                    </th>
                                    <td style="border-color: transparent;">&#40;+95&#41; 9 510 7310, &#40;+95&#41; 9 444 771 857</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="border-color: transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                        </svg>
                                    </th>
                                    <td style="border-color: transparent;">yeelay.yee040@gmail.com, suhninlwin.mm@gmail.com</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="border-color: transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-telegram" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                        </svg>
                                    </th>
                                    <td style="border-color: transparent;">@Su_Hnin_Lwin</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Body -->



    <!-- Start of Footer -->

    <footer class="text-center text-white" style="background-color: black; margin-top: 2px;">     
        <div class="container p-4">
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://brandirectory-live-public.s3.eu-west-2.amazonaws.com/logos/453b6e78-c197-46e7-9f92-143321bcda45.jpg%3FClarins.jpg" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://deltafonts.com/wp-content/uploads/Elizabeth-Arden-logo.png" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://beautiquebeautystudio.ie/wp-content/uploads/2020/10/shop-logos-revlon-professional.jpg" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://mengotticouture.com/wp-content/uploads/2022/01/Bourjois.jpg" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://cdn.worldvectorlogo.com/logos/l-oreal-professionnel.svg" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://1000logos.net/wp-content/uploads/2017/02/Hugo-BOSS-Green-logo.jpg" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 25px;">
                    <p>
                        Thank you for visiting our website. We offer our customers about products from UK.
                        We seek our products to have high quality and appropiate price. 
                        We are always open to the suggestions from our customers.
                        If you find something inconvenient, please inform us. Your suggestions are welcome anytime. 
                        Again, thank you very much for visting our webstie and please support us more.
                        Also, sing up to our website for more notifications on new products' arrival.
                    </p>
                </div>


                <div style="margin-top: 10px;">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>

                </div>


                <div style="margin-top: 10px;">
                    <form action="">
                        <div class="row d-flex justify-content-center">
                            <div class="col-auto">
                                <p class="pt-2"><strong>Get notifications</strong></p>
                            </div>

                            <div class="col-md-5 col-12">
                                <div class="form-outline form-white mb-4">
                                <input type="text" id="form5Example21" class="form-control" pattern="^(09|01)[0-9]{6,9}" />
                                <label class="form-label" for="form5Example21">Phone Number</label>
                                </div>
                            </div>

                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-light mb-4">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </footer>

    <!-- Start of Footer -->

      

    <!-- Scripts -->
    <script>
        <!-- Sliding images -->
        var myIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 2500);    
        }

        <!-- Adding div about -->
        aboutDiv = document.getElementById("about-div");
        aboutDiv.addEventListener("mouseover",function(){
            this.style.cursor = "pointer";
        });
        function displayAboutUs() {
            var x = document.getElementById("aboutDivBody");
            if (x.style.display === "none") {
                x.style.display = "block";
                aboutDiv.innerHTML = "X";
                aboutDiv.style.backgroundColor = "black";
                aboutDiv.style.color = "white";
                aboutDiv.style.textDecoration = "none";
            } else {
                x.style.display = "none";
                aboutDiv.innerHTML = "About Us";
                aboutDiv.style.textDecoration = "underline";
                aboutDiv.style.backgroundColor = "white";
                aboutDiv.style.color = "black";
            }
        }

        <!-- Adding div qanda -->
        qandaDiv = document.getElementById("qanda-div");
        qandaDiv.addEventListener("mouseover",function(){
            this.style.cursor = "pointer";
        });
        function displayQandA() {
            var x = document.getElementById("qandaDivBody");
            if (x.style.display === "none") {
                x.style.display = "block";
                qandaDiv.innerHTML = "X";
                qandaDiv.style.backgroundColor = "black";
                qandaDiv.style.color = "white";
                qandaDiv.style.textDecoration = "none";
            } else {
                x.style.display = "none";
                qandaDiv.innerHTML = "Q & A";
                qandaDiv.style.textDecoration = "underline";
                qandaDiv.style.backgroundColor = "white";
                qandaDiv.style.color = "black";
            }
        }

        <!-- Adding div contact -->
        contactDiv = document.getElementById("contact-div");
        contactDiv.addEventListener("mouseover",function(){
            this.style.cursor = "pointer";
        });
        function displayContactUs() {
            var x = document.getElementById("contactDivBody");
            if (x.style.display === "none") {
                x.style.display = "block";
                contactDiv.innerHTML = "X";
                contactDiv.style.backgroundColor = "black";
                contactDiv.style.color = "white";
                contactDiv.style.textDecoration = "none";
            } else {
                x.style.display = "none";
                contactDiv.innerHTML = "Contact Us";
                contactDiv.style.textDecoration = "underline";
                contactDiv.style.backgroundColor = "white";
                contactDiv.style.color = "black";
            }
        }
    </script>

</body>
</html>