<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>CHERRY - Home Page</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <!-- Start of Navbar -->

    <div class="sticky-top" style="background-color: black;">
        <div class="d-flex justify-content-center">
            <a class="shop-name" style="font-family: Bradley Hand; font-size: 40px; color: white;">CHEERY</a>
        </div>

        <div class="d-flex justify-content-around">
            <ul class="nav justify-content-start">
                <li class="register-here"> 
                    <a class="nav-link" href="#">Register Here</a>
                </li>
            </ul>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cosmetics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sweets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Medicine</a>
                </li>
            </ul>

            <ul class="nav justify-content-end">
                <li class="login-here"> 
                    <a class="nav-link" href="#">Login Here</a> 
                </li>
            </ul>

        </div>
    </div>

    <!-- End of Navbar -->



    <!-- Start of Body -->

    <div class="slide-images w3-container" style="background-color: transparent; margin-left: 50px; margin-right: 50px; margin-bottom: 10px;"> 
        <div class="w3-content w3-section">
            <img class="mySlides w3-animate-left img-fluid" src="../static/images/cosmetics_three copy.jpeg" style="width: 1000px; height: auto;">
            <img class="mySlides w3-animate-left img-fluid" src="../static/images/cosmetics_two copy.jpeg" style="width: 1000px; height: auto;">
            <img class="mySlides w3-animate-left img-fluid" src="../static/images/cosmetics_six copy.jpeg" style="width: 1000px; height: auto;">
        </div>

        <div class="hr-theme-slash-2">
            <div class="hr-line"></div>
            <div class="hr-icon"><i class="material-icons">card_giftcard add_shopping_cart card_membership</i></div>
            <div class="hr-line"></div>
        </div>
    </div>

    <div style="background-color: gray;">
        <div class="row">
            <div class="col-6 col-md-4 d-flex justify-content-center" style="padding-top: 10px; padding-bottom: 10px; background-color: black; color: white;">ABOUT US</div>
            <div class="col-6 col-md-4 d-flex justify-content-center" style="padding-top: 10px; padding-bottom: 10px; background-color: black; color: white;">Q &#38; A</div>
            <div class="col-6 col-md-4 d-flex justify-content-center" style="padding-top: 10px; padding-bottom: 10px; background-color: black; color: white;">CONTACT US</div>
        </div>
    </div>

    <!-- End of Body -->



    <!-- Start of Footer -->

    <footer class="text-center text-white" style="background-color: black;">     
        <div class="container p-4">
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://media.istockphoto.com/photos/various-makeup-products-on-wooden-background-picture-id934807630" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" class="w-100"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 25px;">
                    <p>
                        Thank you for visiting our website. We offer our customers about products from UK.
                        We seek our products to have high quality and appropiate price. 
                        We are always open to the suggestions from our customers.
                        If you find something inconvenient, please inform us. Your suggestions are welcome anytime. 
                        Again, thank you very much for visting our webstie and please support us more.
                        Also, sing up to our website for more notifications on new products' arrival.
                    </p>
                </div>


                <div style="margin-top: 10px;">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>

                </div>


                <div style="margin-top: 10px;">
                    <form action="">
                        <div class="row d-flex justify-content-center">
                            <div class="col-auto">
                                <p class="pt-2"><strong>Get notifications</strong></p>
                            </div>

                            <div class="col-md-5 col-12">
                                <div class="form-outline form-white mb-4">
                                <input type="text" id="form5Example21" class="form-control" pattern="^(09|01)[0-9]{6,9}" />
                                <label class="form-label" for="form5Example21">Phone Number</label>
                                </div>
                            </div>

                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-light mb-4">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </footer>

    <!-- Start of Footer -->

      

    <!-- Scripts -->
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 2500);    
        }
    </script>

</body>
</html>